<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments :: header">
    </head>
    <body>
        <div class="container">
            Returned <span th:text="${result.totalHits}"></span> records in <span th:text="${result.duration}"></span>
            ms.
            <hr width="100%"/>
            <a th:each="record,iterStat : ${result.data}" th:href="@{~/entity/} + ${record.id}">
                <div class="item">
                    <img th:if="${#strings.isEmpty(record.type)}" src="/images/entity_generic.png"/>
                    <img th:if="${record.type.equalsIgnoreCase('Book')}" src="/images/entity_book.png"/>
                    <img th:if="${record.type.equalsIgnoreCase('Image')}" src="/images/entity_image.png"/>
                    <img th:if="${record.type.equalsIgnoreCase('Picture')}" src="/images/entity_image.png"/>
                    <img th:if="${record.type.equalsIgnoreCase('Collection')}" src="/images/entity_collection.png"/>
                    <img th:if="${record.type.equalsIgnoreCase('Video')}" src="/images/entity_video.png"/>
                    <h1 th:text="${record.label}"></h1>
                    <h2 th:text="${record.id}"></h2>
                    <h3 th:if="${#strings.isEmpty(record.type)}" th:text="'No Type'"></h3>
                    <h3 th:unless="${#strings.isEmpty(record.type)}" th:text="${record.type}"></h3>
                </div>
            </a>
        </div>
        <footer th:include="fragments :: footer">
        </footer>
    </body>
</html>