<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<header>
    <div class="three_dots"></div>
</header>

<div class="content">
    <div th:include="fragments :: left" class="left">
    </div>
    <div class="main">
        <div th:include="fragments :: banner" class="title">
        </div>
        <div th:each="user : ${users}" class="panel clickable">
            <p class="panel_title" th:text="${user.name}"></p>

            <p class="property">First name</p>

            <p class="value" th:text="${user.firstName}"></p>

            <p class="property">Last name</p>

            <p class="value" th:text="${user.lastName}"></p>

            <p class="property">Email</p>

            <p class="value" th:text="${user.email}"></p>

            <p class="property">Groups</p>

            <p class="value" th:each="group : ${user.groups}" th:text="${group.name}"></p>

            <p><a th:href="'/user/' + ${user.name}">Edit</a></p>

            <p><a href="#" th:onclick="'javascript:deleteUser(\'' + ${user.name} + '\')'">Delete</a>
            </p>
        </div>
        <div class="panel clickable">
            <p class="panel_title">Groups</p>

            <p class="value" th:each="group : ${groups}" th:text="${group.name}"></p>
        </div>
        <div class="right">
            <div class="panel">
                <script>
                    $(document).ready(function() {
                        $('#ceUsername').watermark('User name', {className: 'inactive'});
                        $('#ceFirstName').watermark('First name', {className: 'inactive'});
                        $('#ceLastName').watermark('Last name', {className: 'inactive'});
                        $('#ceEmail').watermark('Email', {className: 'inactive'});
                    });

                </script>
                <p class="panel_title">Create User</p>

                <form action="/user" method="post" enctype="multipart/form-data">
                    <input id="ceUsername" type="text" name="name" title="Set the user name"/>
                    <input id="ceFirstName" type="text" name="first_name"
                           title="Set the user's first name"/>
                    <input id="ceLastName" type="text" name="last_name"
                           title="Set the user's last name"/>
                    <input id="ceEmail" type="text" name="email"
                           title="Set the user's mail address"/>
                    <select id="ceGroups" name="groups" multiple="multiple" size="3">
                        <option th:each="group : ${groups}" th:value="${group.name}"
                                th:text="${group.name}"></option>
                    </select>
                    <input class="button" id="ceButton" type="submit" value="CREATE USER"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments :: footer" class="footer">
</div>
</body>
</html>
