<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<header>
</header>

<div class="content">
    <div class="left">
        <div class="user">
            <p><strong>Marc Masteruser</strong></p>
            <p>Administrator</p>
        </div>
        <ul class="left_menu">
            <li><a th:href="@{/}" th:text="'DASHBOARD'"></a></li>
            <li><a th:href="@{/browse}" th:text="'BROWSE'"></a></li>
            <li><a th:href="@{/list}" th:text="'LIST'"></a></li>
            <li><a th:href="@{/search}" th:text="'SEARCH'"></a></li>
        </ul>
    </div>
    <div class="main">
        <div class="title">
            <h1>Project Larch</h1>
        </div>
    </div>
</div>

<div class="footer">
    <span>Larch</span><a href="https://github.com/fasseg/larch">Fork me on GitHub!</a>
</div>
</body>
</html>
