<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<header>
    <div class="three_dots"></div>
</header>

<div class="content">
    <div class="left">
        <div class="user">
            <p>Administrator</p>
            <p><strong>Marc Masteruser</strong></p>
        </div>
        <ul class="left_menu">
            <li><p class="icon" id="icon_dashboard"></p><a th:href="@{/}" th:text="'DASHBOARD'"></a></li>
            <li><p class="icon" id="icon_browse"></p><a th:href="@{/browse}" th:text="'BROWSE'"></a></li>
            <li><p class="icon" id="icon_list"></p><a th:href="@{/list}" th:text="'LIST'"></a></li>
            <li><p class="icon" id="icon_search"></p><a th:href="@{/search}" th:text="'SEARCH'"></a></li>
            <li><p class="icon" id="icon_users"></p><a th:href="@{/users}" th:text="'USERS'"></a></li>
        </ul>
    </div>
    <div class="main">
        <div class="title">
            <span class="three_bars"></span>
            <h1>Larch repository</h1>
        </div>
        <div class="panel clickable">
            <p class="panel_title">Larch</p>
            <p class="property">Version</p><p class="value" th:text="${describe.larchVersion}"></p>
            <p class="property">Host</p><p class="value" th:text="${describe.larchHost}"></p>
            <p class="property">Cluster name</p><p class="value" th:text="${describe.larchClusterName}"></p>
        </div>
        <div class="panel clickable">
            <p class="panel_title">ElasticSearch</p>
            <p class="property">Master node name</p><p class="value" th:text="${describe.esMasterNodeName}"></p>
            <p class="property">Master node address</p><p class="value" th:text="${describe.esMasterNodeAddress}"></p>
            <p class="property">Local node name</p><p class="value" th:text="${describe.esNodeName}"></p>
            <p class="property">Number of data nodes</p><p class="value" th:text="${describe.esNumDataNodes}"></p>
            <p class="property">Number of indexed records</p><p class="value" th:text="${describe.esNumIndexedRecords}"></p>
        </div>
        <div class="panel clickable">
            <p class="panel_title">Blobstore</p>
            <p class="property">Version</p><p class="value" th:text="${describe.larchVersion}"></p>
            <p class="property">Host</p><p class="value" th:text="${describe.larchHost}"></p>
            <p class="property">Cluster name</p><p class="value" th:text="${describe.larchClusterName}"></p>
        </div>
        <div class="panel">
            <script>
            $(document).ready(function() {
            $('#ceId').watermark('Generated Id', {className: 'inactive'});
            $('#ceLabel').watermark('Unnamed Entity', {className: 'inactive'});
            $('#ceType').watermark('Type', {className: 'inactive'});
            $('#ceTags').watermark('Tags', {className: 'inactive'});
            $('#ceButton').click(function() {
                createEntity($('#ceId').val(), $('#ceType').val(),$('#ceLabel').val(),$('#ceTags').val());
                })
            });
            </script>
            <p class="panel_title">Create new entity</p>
            <input id="ceId" type="text" name="id" title="Set the identifier of the entity or leave empty for a generated value"/>
            <input id="ceLabel" type="text" name="label" title="Set the label of the entity"/>
            <input id="ceType" type="text" name="type" title="Set the user defined type of the entity"/>
            <input id="ceTags" type="text" name="tags" title="Set a comma separated list of tags for this entity"/>
            <input class="button" id="ceButton" type="button" value="CREATE ENTITY"/>
        </div>
    </div>
</div>

<div class="footer">
    <span>Larch</span><a href="https://github.com/fasseg/larch">Fork me on GitHub!</a>
</div>
</body>
</html>
