<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<script>
        $(document).ready(function() {
            $('#ceId').watermark('Generated Id', {className: 'inactive'});
            $('#ceLabel').watermark('Unnamed Entity', {className: 'inactive'});
            $('#ceType').watermark('Type', {className: 'inactive'});
            $('#ceTags').watermark('Tags', {className: 'inactive'});
            $('#ceButton').click(function() {
                createEntity($('#ceId').val(), $('#ceType').val(),$('#ceLabel').val(),$('#ceTags').val());
            })
        });
</script>
<div class="container">
    <table>
        <tr>
            <td>Version</td>
            <td th:text="${describe.larchVersion}"></td>
        </tr>
        <tr>
            <td>Hostname</td>
            <td th:text="${describe.larchHost}"></td>
        </tr>
        <tr>
            <td>Cluster name</td>
            <td th:text="${describe.larchClusterName}"></td>
        </tr>
    </table>
</div>
<div id="right" class="container">
    <table>
        <thead>
        <tr>
            <td>Create Entity</td>
        </tr>
        </thead>
        <tr>
            <td>
                <input id="ceId" type="text" name="id"
                       title="Set the identifier of the entity or leave empty for a generated value"/>
                <input id="ceLabel" type="text" name="label" title="Set the label of the entity"/>
                <input id="ceType" type="text" name="type" title="Set the user defined type of the entity"/>
                <input id="ceTags" type="text" name="tags" title="Set a comma separated list of tags for this entity"/>
                <input id="ceButton" type="button" value="Create new Entity"/>
            </td>
        </tr>
    </table>
</div>
<footer th:include="fragments :: footer">
</footer>
</body>
</html>