<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<script>
$(document).ready(function() {
    $('#ceId').watermark('Generated Id', {className: 'inactive'});
    $('#ceLabel').watermark('Unnamed Entity', {className: 'inactive'});
    $('#ceType').watermark('Type', {className: 'inactive'});
    $('#ceTags').watermark('Tags', {className: 'inactive'});
    $('#binName').watermark('Name', {className: 'inactive'});
    $('#ceButton').click(function() {
        createEntity($('#ceId').val(), $('#ceType').val(),$('#ceLabel').val(),$('#ceTags').val(), $('#ceParentId').val());
    })
});



</script>
<div class="container">
    <table>
        <tr>
            <td>Id</td>
            <td th:text="${entity.id}"></td>
        </tr>
        <tr>
            <td>Label</td>
            <td th:text="${entity.label}"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td th:text="${entity.type}"></td>
        </tr>
        <tr>
            <td>Parent</td>
            <td th:text="${entity.parentId}"></td>
        </tr>
        <tr>
            <td>State</td>
            <td th:text="${entity.state}"></td>
        </tr>
        <tr>
            <td>Created</td>
            <td th:text="${entity.utcCreated}"></td>
        </tr>
        <tr>
            <td>Last Modified</td>
            <td th:text="${entity.utcLastModified}"></td>
        </tr>
    </table>
    <table>
        <thead>
        <tr>
            <td>Tags</td>
        </tr>
        </thead>
        <tr th:each="tag : ${entity.tags}">
            <td></td>
            <td th:text="${tag}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="md : ${entity.metadata}">
            <td th:text="${md.key}"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Binaries</td>
        </tr>
        <tr th:each="bin : ${entity.binaries}">
            <td></td>
            <td th:text="${bin.key}"></td>
        </tr>
    </table>
    <table>
        <thead>
        <tr>
            <td>Children</td>
        </tr>
        </thead>
        <tr th:each="child : ${entity.children}">
            <td></td>
            <td th:text="${child}"></td>
        </tr>
    </table>
    <table>
        <thead>
        <tr>
            <td>Versions</td>
        </tr>
        </thead>
        <tr th:each="v : ${entity.version}">
            <td></td>
            <td th:text="'Version ' +  ${v}"></td>
        </tr>
    </table>
</div>
<div id="right" class="container">
    <table>
        <thead>
        <tr>
            <td>Create child entity</td>
        </tr>
        </thead>
        <tr>
            <td>
                <input id="ceId" type="text" name="id"
                       title="Set the identifier of the entity or leave empty for a generated value"/>
                <input id="ceParentId" type="hidden" name="parentId" th:value="${entity.id}"/>
                <input id="ceLabel" type="text" name="label" title="Set the label of the entity"/>
                <input id="ceType" type="text" name="type" title="Set the user defined type of the entity"/>
                <input id="ceTags" type="text" name="tags" title="Set a comma separated list of tags for this entity"/>
                <input id="ceButton" type="button" value="Create new Child"/>
            </td>
        </tr>
    </table>
    <table>
        <thead>
        <tr>
            <td colspan="2">Add Binary</td>
        </tr>
        </thead>
        <tr>
            <td class="field">
                <form th:action="@{'~/entity/' + ${entity.id} + '/binary'}" method="post" enctype="multipart/form-data">
                    <input id="binName" type="text" name="name" title="Set the name of the binary"/>
                    <input id="binFile" type="file" name="binary" title="Select a file for upload"/>
                    <input type="submit" value="Create new binary"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<footer th:include="fragments :: footer">
</footer>
</body>
</html>