<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Larch repository</title>
    <script src='/js/jquery-1.11.0.min.js'></script>
    <script src='/js/jquery.watermark.min.js'></script>
    <script src='/js/larch.js'></script>
    <link rel="stylesheet" href="/css/larch.css" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'/>
</head>
<body>

<div th:fragment="banner">
    <span class="three_bars"></span>
    <h1>Larch repository</h1>
    <script>
    $(document).ready(function() {
        $('#search').watermark('Search', {className: 'inactive'});
    });
    </script>
    <form method="post" action="/search" enctype="multipart/form-data"><input type="text" id="search" name="term"/></form>
</div>

<div th:fragment="left">
        <div class="user">
            <p th:text="${user.name}">Administrator</p>
            <p><strong th:text="${user.firstName} + ' ' + ${user.lastName}">Marc Masteruser</strong></p>
        </div>
        <ul class="left_menu">
            <li><p class="icon" id="icon_dashboard"></p><a th:href="@{/}" th:text="'DASHBOARD'"></a></li>
            <li><p class="icon" id="icon_browse"></p><a th:href="@{/browse}" th:text="'BROWSE'"></a></li>
            <li><p class="icon" id="icon_list"></p><a th:href="@{/list}" th:text="'LIST'"></a></li>
            <li><p class="icon" id="icon_search"></p><a th:href="@{/search}" th:text="'SEARCH'"></a></li>
            <li><p class="icon" id="icon_users"></p><a th:href="@{/users}" th:text="'USERS'"></a></li>
            <li><p class="icon" id="icon_search"></p><a th:href="@{/metadatatype}" th:text="'METADATA TYPES'"></a></li>
        </ul>
</div>

<div th:fragment="footer">
    <span>Larch</span><a href="https://github.com/fasseg/larch">Fork me on GitHub!</a>
</div>

</body>
</html>