<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8"/>
    <title>Larch repository</title>
    <script src='/js/jquery-1.11.0.min.js'></script>
    <script src='/js/jquery.watermark.min.js'></script>
    <script src='/js/larch.js'></script>
    <link rel="stylesheet" href="/css/larch.css" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'/>
</head>
<body>

<div th:fragment="title">
    <h1>Larch.</h1>
    <h4>the plain repository</h4>
</div>

<footer th:fragment="footer">
    <span>Larch</span><span class="right"><a class="grey" href='https://github.com/fasseg/larch'>Fork me on Github!</a></span>
</footer>

</body>
</html>