<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login Page</title>
    </head>
    <body onload='document.f.username.focus();'>
        <div th:if="${param.error}"><font color="red">Could not authenticate with given login/password</font></div>
        <div th:if="${param.logout}"><font color="red">Successfiully Logged out</font></div>
        <h3>Login with Username and Password</h3>
        <form name='f' th:action="'/form-login'" method='POST'>
            <table>
                <tr>
                    <td>User:</td>
                    <td>
                        <input type='text' name='username' value=''/>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type='password' name='password'/>
                    </td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input name="submit" type="submit" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
        <h3>Login with OpenID Identity</h3>
        <form name='oidf' th:action="'/openid-login'" method='POST'>
            <table>
                <tr>
                    <td>Identity:</td>
                    <td>
                        <input type='text' size='30' name='openid_identifier'/>
                    </td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input name="submit" type="submit" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>