<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<header>
    <div class="three_dots"></div>
</header>

<div class="content">
    <div th:include="fragments :: left" class="left">
    </div>
    <div class="main">
        <div th:include="fragments :: banner" class="title">
        </div>
        <div class="container">
            Returned <span th:text="${result.totalHits}"></span> records in <span th:text="${result.duration}"></span>
            ms.
            <hr width="100%"/>
            <table>
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Label</td>
                    <td>Type</td>
                    <td>Tags</td>
                </tr>
                </thead>
                <tr th:each="record,iterStat : ${result.data}" th:class="${iterStat.odd}? 'odd'">
                    <td><a th:href="@{~/entity/published/} + ${record.publishId}" th:text="${record.publishId}"></a></td>
                    <td th:text="${record.label}"></td>
                    <td th:if="${#strings.isEmpty(record.type)}" th:text="'No Type'"></td>
                    <td th:unless="${#strings.isEmpty(record.type)}" th:text="${record.type}"></td>
                    <td th:text="${record.tags}"></td>
                </tr>
                <tfoot>
                <tr>
                    <td><a th:if="${result.offset &gt; 0}" th:href="@{~/browse/published} + '/' + ${result.prevOffset} + '/' + ${result.numRecords}">Prev</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a th:if="${result.totalHits &gt; result.offset + result.numRecords}" th:href="@{~/browse/published} + '/' + ${result.nextOffset} + '/' + ${result.numRecords}">Next</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div th:include="fragments :: footer" class="footer">
</div>
</body>
</html>
