<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments :: header">
</head>
<body>
<header>
    <div class="three_dots"></div>
</header>

<div class="content">
    <div th:include="fragments :: left" class="left">
    </div>
    <div class="main">
        <div th:include="fragments :: banner" class="title">
        </div>
        <div sec:authorize="!hasAnyRole('ROLE_ANONYMOUS', 'ROLE_IDENTIFIED')" class="panel clickable">
            <p class="panel_title">Search</p>
            <script>
            $(document).ready(function() {
                $('#searchMain').watermark('Search', {className: 'inactive'});
            });

            </script>
            <!-- form method="post" th:action="'/search?_csrf=' + ${_csrf.token}"
                  enctype="multipart/form-data" -->
            <form method="post" th:action="'/search'"
                  enctype="multipart/form-data">
                <label for="searchMain">All Fields:</label><input type="text" id="searchMain"
                                                                  name="term"/>
                <label for="id">ID:</label><input type="text" id="id" name="id"/>
                <label for="label">Label:</label><input type="text" id="label" name="label"/>
                <label for="type">Type:</label><input type="text" id="type" name="type"/>
                <label for="parent">Parent:</label><input type="text" id="parent" name="parent"/>
                <label for="tag">Tag:</label><input type="text" id="tag" name="tag"/>
                <label for="state">State:</label><input type="text" id="state" name="state"/>
                <label for="version">Version:</label><input type="text" id="version"
                                                            name="version"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <div class="panel clickable">
            <p class="panel_title">Search Published</p>
            <script>
            $(document).ready(function() {
                $('#searchMain').watermark('Search', {className: 'inactive'});
            });

            </script>
            <!-- form method="post" th:action="'/search/published?_csrf=' + ${_csrf.token}"
                  enctype="multipart/form-data" -->
            <form method="post" th:action="'/search/published'"
                  enctype="multipart/form-data">
                <label for="searchMain">All Fields:</label><input type="text" id="searchMain"
                                                                  name="term"/>
                <label for="id">ID:</label><input type="text" id="id" name="id"/>
                <label for="label">Label:</label><input type="text" id="label" name="label"/>
                <label for="type">Type:</label><input type="text" id="type" name="type"/>
                <label for="parent">Parent:</label><input type="text" id="parent" name="parent"/>
                <label for="tag">Tag:</label><input type="text" id="tag" name="tag"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>

<div th:include="fragments :: footer" class="footer">
</div>
</body>
</html>
