<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<header>
    <div class="three_dots"></div>
</header>

<div class="content">
    <div th:include="fragments :: left" class="left">
    </div>
    <div class="main">
        <div th:include="fragments :: banner" class="title">
        </div>
        <div class="panel clickable">
            <p class="panel_title">Success</p>

            <p class="property" th:text="${successMessage}"/>
        </div>
    </div>
</div>

<div th:include="fragments :: footer" class="footer">
</div>
</body>
</html>
